extends ../layout

block mainContent
	.row
		section(role='main')
			.row
				.eight.columns
					h5 8 columns!
				.four.columns
					h5 4 columns!
		section(role='complementary')
			dl.nice.vertical.tabs
				dd.active
					a(href='#vertical1') VerticalTab1
				dd
					a(href='#vertical2') VerticalTab2
				dd
					a(href='#vertical3') VerticalTab3
