extends ../layout

block mainContent
	.row
		.nine.columns.push-three
			.row
				.twelve.columns
					h5 8 columns!
		.three.columns.pull-nine
			dl.nice.vertical.tabs
				dd.active
					a(href='#vertical1') All
				dd
					a(href='#vertical2') Electronics
				dd
					a(href='#vertical3') Clothes
