extends layout

block mainContent
	.row
		.eight.columns
			img(src='http://placehold.it/800x340')
			h3
				a(href='#')
			p Intrepid reporter Jordan Humphreys went to Happy Time Llama Farm to investigate: are llamas merely great pets, or h
		.four.columns
			.row
				.five.columns
					img(src='http://placehold.it/120x100')
				.seven.columns
					h5
						a(href='') Alpaca farm Closed
					p Anthony Tadina reports on this tragic closing asdasda asdasd asdas dasdasdasdasda sasd asd. 
			.row
				.five.columns
					img(src='http://placehold.it/120x100')
				.seven.columns
					h5
						a(href='') YAYSAYASYDAYSDd
					p Anmooooooooc closing. asdas asd asd asd asd asdasd as fwewgf\sdf\sdgs fas asd as
			.row
				.five.columns
					img(src='http://placehold.it/120x100')
				.seven.columns
					h5
						a(href='') llllllllllllllllm Closed
					p Apppppppppppppas dasdadg. 

	.row
		.twelve.columns
			hr

	.row
		.three.columns
			img(src='http://placehold.it/260x190')
			h5
				a(href='#') Fearute 1
			p destiqqqqonas
		.three.columns
			img(src='http://placehold.it/260x190')
			h5
				a(href='#') Fearute 2
			p destioyyyyyyyynas
		.three.columns
			img(src='http://placehold.it/260x190')
			h5
				a(href='#') Fearute 3
			p destioiiiiiiiinas
