extends layout

block mainContent
	.row
		.two.columns
		.eight.columns
			#form_container.WarpShadow.WLarge.WNormal.panel
				h5 Get more features! Login or register below
				hr
				.row
					.two.columns
					.four.columns
						a(href='/Login').large.success.button Login
					.two.columns
						h4 or
					.four.columns
						a(href='/Register')#Register.medium.button Register
		.two.columns

