doctype 5
html
    head
        title #{title}
        link(rel='stylesheet', href='stylesheets/foundation.css')
        link(rel='stylesheet', href='stylesheets/app.css')
        link(rel='stylesheet', href='stylesheets/view.css')

    body
        div.container
            header.row
                div.four.columns
                    a(href='/')
                        img(src='http://placehold.it/200x100')
                div.eight.columns
                    h1.centered#havetitle HaveWant.it

            .row
                .twelve.columns
                    hr


            block mainContent

            .row
                .twelve.columns
                    hr

            footer.row  
                .seven.columns
                    p
                        strong HaveWant.it
                .five.columns
                    p
                        a(href='#') About | 
                        a(href='#') Code | 
                        a(href='#') AHHH