!!! 5
html(lang='en')
  head
    meta(charset='utf-8')

    meta(name='keywords', content='#')
    meta(name='description', content='#')
    meta(name='author', content='#')
    meta(name='copyright', content='#')
    title Foundation Documentation: Tabs
    
    // Included CSS Files 
    != css('lib/normalize')
    != css('lib/zurb')
    != css('lib/zurb.mega-drop')
    != css('havewant') 

  body.off-canvas
    .container.top-bar.home-border
      .attached
        .name(onclick='void(0);')
          span
            a(href='#') HaveWant.it
            a.toggle-nav(href='#')
        section
          ul.right
            li.show-for-small
              a(href='#') Home
            li
              a(href='#') Search
            li.has-button
              a.small.button.src-download(href='#') Login

    #megaDrop.container
      .mobile-main-nav-padding
        .row.top
          .eight.columns
            a(href='#')
              h4
                | Organise and sell your belongings.
          .four.columns
            .right.links
              a(href='#') About
              | |
              a(href='#') Blog 
              | |
              a(href='#') Sitemap
        .row
          .tablet-padding.centre
            #services.three.columns.property
              a(href='#')
                h4 Have.it
                p
                  | Easily categorise your personal belongings. Add images and videos along with a full description.
                span See how →
            .show-on-phones
              br
              br
            #foundation.three.columns.property
              a(href='#')
                h4 Want.it
                p
                  | See what other people are offering. Search from within your local area and by category.
                span Search →
            .show-on-phones
              br
              br
            #apps.three.columns.property
              a(href='#')
                h4 Got.it
                p
                  | Make your belongings available for purchase and advertise on eBay, twitter and facebook. 
                span Get Started →
            .show-on-phones
              br
              br

    block mainContent

    hr
    footer.row
      section.five.columns
        h6
          strong Made by SpottingGroup
        p
          | HaveWant.it is made by
          a(href='#') SpottingGroup
          | , a small company based in London, UK. Design of the website is borrowed heavily from the 
          a(href='#') ZURB 
          | Foundation.
          a(href='#') More Info →
      section.three.columns
        h6
          strong Legal
        p
          | By using this site, you agree to the 
          a(href='#') terms and conditions.
          | We do not sell on your information.
      section.four.columns
        h6
          strong Need some help?
        p
          | For answers or help visit the
          a(href='#') Support page
          | .
        ul.link-list
          li
            a(href='#', target='_blank')
              span.glyph.social d
          li
            a(href='#', target='_blank')
              span.glyph.social l
          li
            a(href='#', target='_blank')
              span.glyph.social e
    #copyright
      .row
        .four.columns
          p Site content © 2012 SpottingGroup, ltd.
        .eight.columns
          ul.link-list.right
            li
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Legal
            li
              a(href='#') Contact
    #navModal.reveal-modal
      h3 Foundation Docs
      dl.nice.tabs.vertical
          dd
            a(href='#') All Items
          dd
            a(href='#') Electronics
          dd
            a(href='#') Add New Category
      a.close-reveal-modal ×

    != js('lib/zurb/foundation.min')
    != js('lib/zurb/zurb.mega-drop')
    != js('lib/zurb/app')
    != js('lib/backbone/underscore')
    != js('lib/backbone/backbone')
    != js('havewant')
