doctype 5
html
    head
        title #{title}
        link(rel='stylesheet', href='stylesheets/app.css')
        link(rel='stylesheet', href='stylesheets/foundation.css')

    body
        div.container
            header.row
                div.two.columns
                    img(src='http://placehold.it/200x120')
                div.eight.columns
                    h1.centered The Foundation Times
                    h5.centered December 1, 2011
                div.two.columns
                    img(src='http://placehold.it/200x120')

        div.row
            div.twelve.columns
                dl.tabs
                    dd
                        a.active(href='#') All News
                    dd
                        a(href='#') Llamas


        block mainContent

        footer.row
            .seven.columns
                p
                    strong Foundation Times
            .five.columns
                p
                    a(href='#') All News |
                    a(href='#') ppppp |
                    a(href='#') dbbbbbbbg |
                    a(href='#') oooooooo |
                    a(href='#') llllllllll