extends ../layout

block mainContent
	h2 Login

	form.users(method='post', action='/Login')
		div
			label Email:
			input(name='user[email]', value=user.email || '')
		div
			label Password:
			input(name='user[password]', value=user.password || '', type='password')
		div
			input(type='submit', value='Log In')